body{
  margin: 0;
  padding: 0;
  background-color: #F4F5F7;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic','メイリオ',sans-serif;
  color: #333333;
}

header{
  height: 200px;
  text-align: center;
  margin-top: 50px;
}

.title{
  margin-right: 700px;
  font-size: 48px;
  letter-spacing: 0.2em;
}

.maincon{
  text-align: center;
}

nav{
  right: 0;
}
ul{
  list-style: none;
  display: inline-flex;
  margin-left: 750px;
  letter-spacing: 0.1em;
}

li{
  margin: 0 1em;
}


footer{
  height: 200px;
  background-color: red;
}

.prophoto{
  height: 250px;
  width: 250px;
  border-radius: 40%;
  border: solid;
}

a{
  text-decoration: none;
  color: #333333;
}