body{
  margin: 0;
  padding: 0;
  background-color: #F4F5F7;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic','メイリオ',sans-serif;
  color: #333333;
}

header{
  height: 200px;
  text-align: center;
  margin-top: 50px;
}

.title{
  margin-right: 700px;
  font-size: 48px;
  letter-spacing: 0.2em;
}

.maincon{
  margin: 0 auto;
}

nav{
  right: 0;
}
ul{
  list-style: none;
  display: inline-flex;
  margin-left: 750px;
  letter-spacing: 0.1em;
}
.study{
  letter-spacing: 0.1em;
}

li{
  margin: 0 1em;
}

.profile{
  display: flex;
  width: 1080px;
  margin: 50px auto;
}
.pass{
  margin: 0 50px;
  letter-spacing: 0.1em;
}

.setumei{
  font-size: 16px;
  letter-spacing: 0;
}
footer{
  height: 200px;
  background-color: red;
}

.prophoto{
  height: 250px;
  width: 250px;
  border-radius: 40%;
  border: solid;
}

a{
  text-decoration: none;
  color: #333333;
}
#app{
  clear: both;
  width: 1080px;
  margin: 0 auto;
  letter-spacing: 0.1em;
}

.apptitle{
  font-size: 16px;
  letter-spacing: 0;
}
.applink{
  color: darkcyan;
}

.appsetumei{
  font-size: 16px;
}